{% extends 'base.html' %}

{% block body %}
<br><br>
<div class='container'>
	<form action="/bill/close", method="post">
		<input type="number" name="id" value={{id}} hidden>
		<input type="number" name="room_id" value={{room_id}} hidden>
		<input type="number" name="customer_id" value={{customer_id}} hidden>
		<div class="form-group col-md-5">
			<label for="name">Name</label>
			<input name='name' type="text" class="form-control" id="name" placeholder="Name" value="{{name}}" required disabled>
		</div>
		<div class="form-group col-md-2">
			<label for="no-of-person">No.	 of person</label>
			<input  name='no_of_person' type="number" class="form-control" id="no-of-person" placeholder="1 to 10" min="0" value="{{no_of_person}}" disabled>
		</div>
		<div class="form-group col-md-6">
			<label for="inputAddress">Address</label>
			<input  name='address1' type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{address1}}" disabled>
		</div>
		<div class="form-group col-md-6">
			<label for="inputAddress2">Address 2</label>
			<input name='address2'  type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value="{{address2}}" disabled>
		</div>
		<div class="form-row col-md">
			<div class="form-group col-md-5">
				<label for="inputCity">City</label>
				<input  name='city' type="text" class="form-control" id="inputCity" value="{{city}}" disabled>
			</div>
			<div class="form-group col-md-4">
				<label for="inputState">State</label>
				<input name='state' type="text" id="inputState" class="form-control" value="Tamilnadu" value="{{state}}" disabled>
			</div>
		</div>
		<div class="form-row col-md">
			<div class="form-group col-md-4">
				<label for="inputCountry">Country</label>
				<input name='country' type="text" id="inputCountry" class="form-control" value='India'  value="{{country}}" disabled>
			</div>
			<div class="form-group col-md-2">
				<label for="inputZip">Zip</label>
				<input name='zip' type="text" class="form-control" id="inputZip" value="{{zip}}"  disabled>
			</div>
		</div>
		<div class="form-group col-md-3">
			<label for="contact_number">Contact Number</label>
			<input name="contact_number" type="number" class="form-control" id="contact_number" placeholder="9876543210" value="{{contact_number}}"  disabled>
		</div>
		<div class="form-group col-md-3">
			<label for="room_no">Room no</label>
			<input name="room_no" type="number" class="form-control" id="room_no" placeholder="201" value="{{room_no}}"  disabled>
		</div>
		<div class="form-row col-md">
			<div class="form-group col-md-4">
				<label for="datetime1">In Time</label>
				<input type="datetime-local" class="form-control" id="datetime1" name="in_time" value="{{in_time}}"  disabled>
			</div>
			<div class="form-group col-md-4">
				<label for="datetime2">Out Time</label>
				<input type="datetime-local" class="form-control" id="datetime2" name="out_time" value="{{out_time}}" required>
			</div>
		</div>
		<br>
		<div class="form-group row col-md-10">
			<label for="advance" class="col-md-2 col-form-label">Advance</label>
			<div class="col-md-10">
				<input name='advance' type="number" step="0.01" class="form-control" id="advance" placeholder="0" oninput="lodging_charge_change()" value="{{advance}}" disabled>
			</div>
		</div>
		<div class="form-group row col-md-10">
			<label for="cost" class="col-md-2 col-form-label">Lodging Charge</label>
			<div class="col-md-10">
				<input name='cost' type="number" step="0.01" class="form-control" id="cost" placeholder="0" oninput="lodging_charge_change()" value="{{cost}}" required>
			</div>
		</div>
		<div class="form-group row col-md-10">
			<label for="miscellaneous" class="col-md-2 col-form-label">Miscellaneous</label>
			<div class="col-md-10">
				<input name='miscellaneous' type="number" step="0.01" class="form-control" id="miscellaneous" placeholder="0" oninput="lodging_charge_change()" value="{{miscellaneous | default('0', true)}}" required>
			</div>
		</div>
		<div class="form-group row col-md-10">
			<label for="luxary" class="col-md-2 col-form-label">Luxary</label>
			<div class="col-md-10">
				<input name='luxary' type="number" step="0.01" class="form-control" id="luxary" placeholder="0" oninput="lodging_charge_change()" value="{{luxary | default('0', true)}}" required>
			</div>
		</div>
		<div class="form-group row col-md-10">
			<label for="extra_cost" class="col-md-2 col-form-label">Conveniences</label>
			<div class="col-md-10">
				<input name='extra_cost' type="number" step="0.01" class="form-control" id="extra_cost" placeholder="0" oninput="lodging_charge_change()" value="{{extra_cost | default('0', true)}}" required>
			</div>
		</div>
		<div class="form-group row col-md-11">
			<label for="gst" class="col-md-2 col-form-label">GST</label>
			<div class="col-md-20">
				<div class="form-inline ">
					<input name='gst' type="number" step="0.01" class="form-control" id="gst" value="{{gst}}"  required>
					<input type="checkbox" class="form-check-input" id="gst_check" onchange="toggle_gst()" checked>
					<input type="number" name="gst_percent" step="0.01" class="form-control" id="gst_percent" placeholder="18%" value="gst_percent" oninput="lodging_charge_change()">
				</div>
			</div>
		</div>
		<div class="form-group row col-md-10">
			<label for="total" class="col-md-2 col-form-label">Total</label>
			<div class="col-md-10">
				<input name='total' type="number" step="0.01" class="form-control" id="total" placeholder="0" value="{{total}}" required>
			</div>
		</div>
		<div class="form-group row col-md-8">
			<div class="col-md-10">
				<button type="submit" class="btn btn-primary">Bill</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	var advance = document.getElementById('advance');
	var miscellaneous = document.getElementById('miscellaneous');
	var luxary = document.getElementById('luxary');
	var base_cost = document.getElementById('cost');
	var extra_cost = document.getElementById('extra_cost');
	var gst_cost = document.getElementById('gst');
	var total = document.getElementById('total');
	var gst_percent = document.getElementById('gst_percent');

	function toggle_gst(){
		gst_check = document.getElementById('gst_check');
		gst_cost.disabled = !gst_check.checked;
		gst_percent.disabled = !gst_check.checked;
		lodging_charge_change();
	}
	toggle_gst();

	function total_charge(){
		return (parseInt(base_cost.value) || 0) + (parseInt(extra_cost.value)||0) + (parseInt(advance.value) || 0) + (parseInt(miscellaneous.value) || 0) + (parseInt(luxary.value) || 0);
		lodging_charge_change();
	}

	function lodging_charge_change(){
		cost = total_charge();
		gst = 0;
		if (gst_check.checked){
			gst = cost * (parseInt(gst_percent.value) || 18) / 100;
		}
		gst_cost.value = gst;
		total.value = cost+gst;
	}

</script>
<br><br>

{% endblock %}




