cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
docopt==0.6.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
flaskwebgui==0.1.13
future==0.18.2
gen-exe==0.2.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pefile==2019.4.18
pipreqs==0.4.10
psutil==5.8.0
pyvan==1.2.0
pywin32==300
requests==2.25.1
SQLAlchemy==1.3.23
urllib3==1.26.3
Werkzeug==1.0.1
whichcraft==0.6.1
WTForms==2.3.3
yarg==0.1.9
